<div class="container mt-3">
  <form class="col-md-8 h-100 justify-content-center">
    <legend class="text-center">Create Group</legend>
    <p>Create a blank group. Continue to add users or Quit to leave a shell.</p>

    <div class="row pt-2">
      <label for="name">Group Name</label>
    </div>
    <div class="row pb-2">
      <input
        id="name"
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="group.name"
        placeholder="Group Name"
      />
    </div>

    <div class="row pt-2">
      <label for="type">Group Type</label>
    </div>
    <div class="row pb-2">
      <select class="form-control" name="type" id="type" [(ngModel)]="group.type">
        <option>ORGANIZATIONAL</option>
        <option>BALANCING</option>
      </select>
    </div>

    <div class="row pt-2">
      <div class="pl-3">
        <input
          id="affinity"
          type="checkbox"
          name="affinity"
          class="form-check-input"
          [checked]="group.affinity"
        />
        <label for="affinity">Session Affinity</label>
      </div>
    </div>

    <div class="row pt-2">
      <label for="max">Max Connections</label>
    </div>
    <div class="row mb-4">
      <input
        id="max"
        type="number"
        class="form-control"
        name="max"
        [(ngModel)]="group.max"
        placeholder="Max Connections"
      />
    </div>

    <div class="row">
      <button
        type="button"
        class="btn btn-danger col-md-3"
        (click)='clearForm()'
        [routerLink]="['/groups']"
      >Cancel</button>
      <div class="col-md-2"></div>
      <button
        type="button"
        class="btn btn-info col-md-3"
        (click)='update(true)'
      >Save and Continue</button>
      <div class="col-md-1"></div>
      <button
        type="button"
        class="btn btn-success col-md-3"
        (click)='update(false)'
      >Save and Quit</button>
    </div>
  </form>
</div>