<div class="container mt-3">
  <form class="col-md-8 h-100 justify-content-center" #Fm="ngForm" >
    <legend class="text-center">Edit Users in <span>{{ group.name }}</span></legend>
    <ul>
      <li>Users are given in the form of dawgtags written as SIU85XXXXXXX, 85XXXXXXX, or simply XXXXXXX.</li>
      <li>Dawgtags can be separated by any amount of commas or white space (new lines, spaces, tabs)</li>
      <li>Duplicates will be ignored.</li>
    </ul>

    <div class="row pt-2">
      <input
        id="all"
        type="checkbox"
        name="all"
        class="form-check-input"
        [(ngModel)]="check"
        (change)="changed()"
        disabled
      />
      <label for="all">Add all users.</label>
    </div>

    <div class="row pt-2 mb-3">
      <label for="users">Users</label>
      <textarea
        class="form-control"
        name="users"
        [(ngModel)]="usersText"
        rows="16"
        placeholder="Dawgtags"
        [disabled]="check"
      ></textarea>
    </div>

    <div class="row">
      <button
        type="button"
        class="btn btn-danger col-md-3"
        (click)='clearForm()'
        [routerLink]="['/groups']"
      >Cancel</button>
      <div class="col-md-2"></div>
      <button
        type="button"
        class="btn btn-info col-md-3"
        (click)='update(true)'
      >Save and Continue</button>
      <div class="col-md-1"></div>
      <button
        type="button"
        class="btn btn-success col-md-3"
        (click)='update(false)'
      >Save and Quit</button>
    </div>
  </form>
</div>